*,
*::before,
*::after {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1;
	color: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

cite {
	display: block;
	font-style: normal;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	vertical-align: top;
}

button {
	text-align: center;
	background-color: transparent;
	cursor: pointer;
}

button:focus-visible,
a:focus-visible {
	outline: 3px solid lightgreen;
}

html,
body {
	width: 100%;
	height: 100%;
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}
