@import "variables.css";
@import "reset.css";
@import "custom-styles.css";
@import "common.css";
@import "buttons.css";
@import "inputs.css";
@import "rating.css";
@import "accordion.css";
@import "popup.css";

@import "header.css";
@import "footer.css";

@import "adaptive.css";

body::-webkit-scrollbar {
}

body::-webkit-scrollbar-thumb {
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	background-color: var(--background-color);
	color: var(--color);
}

._lock {
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
}

.wrapper {
	position: relative;
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}
