:root {
	--container-width: 1230px;
	--container-padding: 15px;
	--container: calc(var(--container-width) + var(--container-padding) * 2);

	--font-family: arial;
	--font-size: 16px;
	--font-weight: 400;
	--background-color: #fff;
	--color: #000;

	--transition-duration: 0.4s;
	--animation-duration: 1.4s;

	/* icon-menu */
	--icon-menu-height: 20px;
	--icon-menu-width: 30px;
	--icon-menu-line: 2px;
	--icon-menu-line-color: #000;
	--icon-menu-line-radius: 0px;
	--icon-menu-line-width: 100%;
	--icon-menu-line-width-one: var(--icon-menu-line-width);
	--icon-menu-line-width-two: var(--icon-menu-line-width);
	--icon-menu-line-width-three: var(--icon-menu-line-width);

	/* popup */
	--popup-overlay-color: rgba(0, 0, 0, 0.8);
	--popup-width: 500px;
	--popup-padding: 20px;
	--popup-radius: 10px;
	--popup-color: #fff;
	--popup-close-size: 20px;
	--popup-close-line: 2px;
	--popup-close-line-radius: 10px;
	--popup-close-line-color: #000;
}
